.Person {
  border: 6px solid teal;
  border-radius: 20px;
  box-shadow: 0 2px 3px #ccc;
  background: #0a0d28;
  margin: 16px auto;
  padding: 20px;
  width: 40%;
  color: white;
}
.input {
  border-radius: 5px;
  border: none;
  outline: none;
}
