.App {
  text-align: center;
}
.button-style {
  border: 3px solid pink;
  border-radius: 4px;
  background: palevioletred;
  cursor: pointer;
}
.person1 {
  text-decoration-line: underline;
  cursor: pointer;
}
